<html>
  <head>
    <meta name='viewport' content='width=device-width' />
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
    <title>{{title}}</title>
    <style>
      h1 { font-weight: bold; }
    </style>
  </head>
  <body>
    <span class='preheader'>{{description}}</span>
    <div>
      <div>안녕하세요, {{nickname}}님</div>
      <div>새로 발급된 임시비밀번호는 {{password}}</div>
    </div>
  </body>
</html>