<html>
  <head>
    <meta name='viewport' content='width=device-width' />
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
    <title>{{title}}</title>
    <style></style>
  </head>
  <body>
    <span class='preheader'>{{description}}</span>
    <div>
      <div>안녕하세요, {{nameuser}}님</div>
      <div>{{description}}</div>
    </div>
  </body>
</html>